<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- MySQL接続文字列定義 -->
    <add key="DbConKey" value="SERVER=127.0.0.1;DATABASE=sugukuru;UID=root;PASSWORD=;CHARSET=utf8;SSLMODE=none"/>
  </appSettings>
</configuration>